---
# Only the main Sass file needs front matter (the dashes are enough)
---

/* Add and overide some Minimal Mistakes CSS: */

/* For places where the documentation is not quite finished. */
.disclaimer {
	color: darkred;
	font-style: italic
}

/* This was mainly to change the horizontal rules following h2s but it also changes the accent color in few other places, which looks pretty nice: */
$border-color:  #67923D;

/* Original content follows: */

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
